/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */


@font-face {
    font-family: "montserrat";
    font-style: normal;
    font-weight: normal;
    src: local("Montserrat-Regular"),
        url("../fonts/Montserrat-Regular.ttf") format("woff");
}
@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: normal;
    src: local("Montserrat-Regular"),
        url("../fonts/Roboto-Regular.ttf") format("woff");
}
@font-face {
    font-family: "vws";
    font-style: normal;
    font-weight: normal;
    src: local("vwa"),
        url("../fonts/vws.woff") format("woff");
}
@font-face {
    font-family: "abel";
    font-style: normal;
    font-weight: normal;
    src: local("abel-regular"),
        url("../fonts/Abel-Regular.ttf") format("ttf");
}

body{
    font-family: 'vws';
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
p {
    font-family: 'avw';
    letter-spacing: 1px;
}

ul, li {
    list-style: none;
}


#container{
    background: #fdf7f8;

}

#container header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 70%;;
}
#container header div.left{
    display: flex;
    align-items: center;
    justify-content: left;
}
#container header div.left h4{
    margin-bottom: 0;
    font-weight: 500;
    color: #4b164c;
    font-family: "vws", sans-serif;
}
#container header div nav{
    margin-right: 5px;
    width: 30px;
    height: 30px;
}


#container header div.right nav i.icon{
    border: 1px solid #747074;
    border-radius: 50%;
}
#container header div.right div.profile{
    width: 50px;
    height: 50px;
}
#container header div.right img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


#status {
    max-width: 70%;
    margin: 0 auto;
}
#status .wrapper {
}
#status .wrapper ul.list{
    display: flex;
    overflow: hidden;
}
#status .wrapper ul.list li.item{
    text-align: center;
    margin-right: 10px;
}
#status .wrapper ul.list li div{
    
    padding: 2px;
    border-radius: 50%;
}
#status .wrapper ul.list li.item p{
    font-family: "vws";
    font-size: 10px;
}
#status .wrapper ul.list li div {
    background: url(./../profiles/pexels-pixabay-415829.jpg) content-box center;
    width: 50px;
    height: 50px;
    position: relative;
    opacity: .8;
    margin: 0 auto;
    border: 2px solid #e39dd7;

}
#status .wrapper ul.list li.item  i{
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 20px;
    color: #fff;
    opacity: 1;
}
#status .wrapper ul.list li.item:first-child  img{

}
#status .wrapper ul.list li div a
#listing{
    margin: 0 auto;
}
#listing div.container{
    padding: 0;
    margin: 0 auto;
    background: #f8e7f6;
    border-radius: 40px;
}
#listing div.container ul.list{
    display: flex;
    align-items: center;
    padding: 0;
}
#listing div.container ul.list li.item{
    width: 33%;
    padding: 5px;
    text-align: center;
}
#listing div.container ul.list li.item p.item-name{
    margin: 0 auto;
}
#listing div.container ul.list li.active{
    color: #208aff;
    background: #fff;
    border-radius: 40px;;
}


#main{
   width: 80%;
   margin: 0 auto 50px;
}
#main div.wrapper{
}
#main .my-3 {
    width: 80%;
    font-family: 'vws';
}
#main div.wrapper div.list{
    justify-content: center;
}
#main div.wrapper div.list div.item{
    width: 150px;
    margin: 10px 10px;

}
#main div.wrapper div.list div.item div.wrapper{
    position: relative;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    background-color: linear-gradient(red,yellow);
    background: url(./../profiles/pexels-andrewpersonaltraining-697509.jpg) ;
    background-size: cover;

    border: 4px solid #dd88cf;
}
#main div.wrapper div.list div.item div.wrapper img.profile{
    height: 200px;
    display: block;
    border-radius: 20px;
    width: 100%;
    opacity: .95;
    background-color: #747074;
}
#main div.wrapper div.list div.item div.wrapper div.profile{
    height: 200px;
    display: block;
    border-radius: 20px;
    width: 100%;
    border: 4px solid #dd88cf;
    opacity: .95;
    background-color: black;
}
#main div.wrapper div.list div.item div.wrapper img.profile:hover{
    opacity: 1;
}
#main div.wrapper div.list div.item p{
 
}
#main div.wrapper div.list div.item p.matching{
    position: absolute;
    margin: 0 auto;
    top: 0px;
    color: #ffffff;
    background: #dd88cf;
    left: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 10px;
    font-family: 'vws';
    padding: 2px 10px;
}
#main div.wrapper div.list div.item p.distance{
    position: absolute;
    background: transparent;
    background: rgb(201, 192, 192,.8);
    left: 25px;
    bottom: 40px;
    color: #fff;
    border: 1px solid #faf5f5;
    border-radius: 15px;
    font-size: 10px;
    font-family: 'vws';
    padding: 0px 10px;
}
#main div.wrapper div.list div.item h6.name{
    position: absolute;
    margin: 0 auto 0;
    font-family: 'vws';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    left: 30px;
    text-shadow: #747074 0 0 1px;
    bottom:30px;
    text-shadow: .5px #747074;
}
#main div.wrapper div.list div.item h6.name span.online {
    width: 5px;
    height: 5px;
    background: greenyellow;
    display: inline-block;
}
div.item p {
    font-family: 'vws';
}
#main div.wrapper div.list div.item p.designation{
    position: absolute;
    color: #fdfdfd;
    left: 25px;
    bottom: 2px;
    font-size: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    background: transparent;
    height: 80px;
    justify-content: space-around;
    
    position: absolute;
    right: 1px;
    background:rgb(201, 192, 192,.8);
    
    padding: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: -20px;
    border-bottom-left-radius: 20px;
}
.actions i {
    height: 60%;
}
.actions img {
    display: block;
    height:15px;
    width: 15px;

    color: #fff;
    cursor: pointer;
}
#main div.wrapper div.list div.item p.location{}




.fixed-bottom {
    width: 70%;
    margin: 0 auto 8px;
    background: #ffffff;
    box-shadow: 0px 0px 2px #888888;
  }
  
  .fixed-bottom a {
    display: block;
    
  }
  .fixed-bottom a.active i{
    background: #dd88cf ;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    padding: 10px;
    border-radius: 50%;
  }
  .container-fluid {
    margin: 0 auto;
  }
  .fixed-bottom a.active {
    
  }
  .btn-group{
    border-radius: 20px;
  }
  .icon1{
    height: 40px;
    width: 40px;
  }
  .icon1:hover {
    height: 55px;
    width: 55px;
  }